<a href="https://colab.research.google.com/github/Titaleela/datasciencebootcamp/blob/main/Bootcamp_07_Python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Essential Python 101

Today we are learning Python 101 for beginners
*   Variables
*   Data Types
*   Data Structure
*   Fuction
*   Control Flow
*   OOP

Python is case sensitive!

In [ ]:
ÃŸprint("hello world")

hello world

In [ ]:
print("I am learning Python 101!")

I am learning Python 101!

In [ ]:
#comment
#this is just a note
print(1+1)
print(2*2)

2
4

In [ ]:
#basic Calculation
7//2 #floor division

3

In [ ]:
pow(5,2)

25

In [ ]:
abs(-666)

666

In [ ]:
#modulo
5%3

2

In [1]:
#string in python variables
my_name = "toy"
age = 34
gpa = 3.41
movie_lover = True #False

In [2]:
#Case Sensitive
print(age, gpa, movie_lover, my_name)

34 3.41 True toy

In [ ]:
new_age = age - 12
print(age, new_age)

34 22

In [ ]:
s23_price = 2999
discount = 0.15
new_s23_price = s23_price * (1-discount)

print(new_s23_price)

2549.15

In [ ]:
del new_s23_price

In [ ]:
age = 34
age += 1
age += 1
age += 1
age -= 2
age *= 2
age /= 2
print(age)

35.0

In [ ]:
age = 34
gpa = 3.41
school = "CU"
movie_lover = True

In [ ]:
#check data types
print(type(age))
print(type(gpa))
print(type(school))
print(type(movie_lover))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#conver type
x = 100
x =     str(x)
print(x)
print(type(x))

100
<class 'str'>

In [ ]:
y = False #T=1 F=0
y = int(y)
print(y, type(y))

0 <class 'int'>

In [ ]:
z = 1
z= bool(z)
print(z, type(z))

True <class 'bool'>

In [ ]:
text = "hello"
text + text + text

'hellohellohello'

In [ ]:
print(text*4)

hellohellohellohello

In [ ]:
#type hint
age: int = 34
my_name: str = "Toy"
gpa: float = 3.41
movie_lover: bool = True
print(age, type(age))

34 <class 'int'>

In [ ]:
#function
print("hello", "world")

hello world

In [ ]:
#greeting
def greeting(name = "Toy", location = "New York"):
    print("hello " + name)
    print("Home location is " + location)

In [ ]:
greeting(location = "Japan", name = "Naruto")

hello Naruto
Home location is Japan

In [ ]:
def add_two_nums(num1, num2):
    print("hello world!")
    return num1 + num2
    print("Done!")
    #return is the end of the coding #It would not show anything after the return line

In [ ]:
result = add_two_nums(5, 15)
print(result)

hello world!
20

Return is that we finish the function! It will show the end result for us!

In [ ]:
def add_two_nums(a:int, b:int) -> int:
    return a+b

In [ ]:
add_two_nums(6, 12)

18

In [ ]:
#work with string
text = "Hello" #single quote
long_text= """this is a
realy really long text.
This is a new line.""" #triple quotes

print(text)
print(long_text)

Hello
this is a
realy really long text.
This is a new line.

In [ ]:
#string template: fstrings
my_name = "Tita"
location = "New York"

text = f"Hi! My name is {my_name} and I live in {location}"
print(text)

Hi! My name is Tita and I live in New York

In [ ]:
"Hi! My name is {}, location: {}". format(my_name, location)

'Hi! My name is Tita, location: New York'

In [ ]:
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [ ]:
len(text)

23

In [ ]:
#slicing
print(text[0], text[-1], text[22])

a r r

In [ ]:
#up to but not include
text [7:22]

'walks into a ba'

In [ ]:
#string is immutable
name = "python"
name = "C" + name [1:]
print(name)

Cython

In [ ]:
#method
text = "a duck walks into a bar"
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.title()

'A Duck Walks Into A Bar'

In [ ]:
text.replace("duck","lion")

'a lion walks into a bar'

In [ ]:
words = text.split(" ")
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [ ]:
" ".join(words)

'a duck walks into a bar'

In [ ]:
# method = function that is built for that object
##string methods
# string is immutable --> cannot update the same object // need to rewrite

In [ ]:
#data structure
#1. list []
#2. tuple ()
#3. dictionary {}
#4. set {unique}

In [ ]:
#list
shopping_items = ["banana", "egg", "milk"]
shopping_items[0] = "pineapple" #list is mutable
print(shopping_items[0])
print(shopping_items[1])
print(shopping_items[2])

pineapple
egg
milk

In [ ]:
#list method
shopping_items.append("egg")
print(shopping_items)

['pineapple', 'milk', 'egg', 'egg', 'egg']

In [ ]:
#sort items
shopping_items.sort(reverse=True)
print(shopping_items)

['pineapple', 'milk', 'egg', 'egg']

In [ ]:
def mean(scores):
    return sum(scores)/len(scores)

In [ ]:
scores = [90, 88, 85, 92, 75]
print(sum(scores),
      min(scores), max(scores), len(scores),
      mean(scores))

430 75 92 5 86.0

In [ ]:
#remove last item in list
shopping_items.pop()
shopping_items

['pineapple', 'milk']

In [ ]:
shopping_items.append("egg")
shopping_items

['pineapple', 'milk', 'egg']

In [ ]:
shopping_items.remove("pineapple")
shopping_items

# .pop = remove last item
# .remove = remove anything

['egg']

In [ ]:
# .insert = add new item in the position needed
shopping_items.insert(1, "milk")
shopping_items

['egg', 'milk']

In [ ]:
#tuple () is immutable = cannot be updated
tup_items = ('egg','bread','pepsi','egg','egg')
tup_items

('egg', 'bread', 'pepsi', 'egg', 'egg')

In [ ]:
tup_items.count('egg')

3

In [ ]:
#username password
#student1, student2
s1 = ("id0001", "12345")
s2 = ("id002", "23456")
user_pw = (s1, s2)

print(user_pw)

(('id0001', '12345'), ('id002', '23456'))

In [ ]:
#tuple unpacking
username, password = s1

print(username, password)

id0001 12345

In [ ]:
#tuple unpacking 3 values
name, age, _ = ("John Wick", 42, 3.98)
print(name, age) #_ is a placeholder

John Wick 42

In [ ]:
#set{unique}
courses = ["Python", "Python", "R", "SQL"]

In [ ]:
set(courses)

{'Python', 'R', 'SQL'}

In [ ]:
#dictionary key: value pairs
course = {
    "name": "Data Science Bootcamp",
    "duration": "4 Months",
    "students": 400,
    "replay": True,
    "start_time": "9am",
    "skills": ["Google Sheet", "SQL", "R", "Python", "Stats","ML","Dashboard","Data Tranformation"]
}

course

{'name': 'Data Science Bootcamp',
 'duration': '4 Months',
 'students': 400,
 'replay': True,
 'start_time': '9am',
 'skills': ['Google Sheet',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data Tranformation']}

In [ ]:
course["skills"][-3:]

['ML', 'Dashboard', 'Data Tranformation']

In [ ]:
list(course.keys())

['name', 'duration', 'students', 'replay', 'skills']

In [ ]:
list(course.values())

['Data Science Bootcamp',
 '4 Months',
 400,
 True,
 ['Google Sheet',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data Tranformation']]

In [ ]:
course.items()

dict_items([('name', 'Data Science Bootcamp'), ('duration', '4 Months'), ('students', 400), ('replay', True), ('skills', ['Google Sheet', 'SQL', 'R', 'Python', 'Stats', 'ML', 'Dashboard', 'Data Tranformation'])])

In [ ]:
course.get("replay")

True

In [ ]:
#recap
#list, dictionary = mutable
#tuple, string = immutable

In [ ]:
#control flow
#if for while

In [3]:
#final exam 150 scores, pass >= 120
def grade(score):
    if score >= 120:
        return "passed"
    elif score >= 100:
        return "good"
    elif score >= 80:
        return "okay"
    else:
        return "need to read more"

In [6]:
result = grade(95)
print(result)

okay

In [ ]:
#use and, or in condition
#course == data science, score >= 80 passed
#course == english, score >= 70 passed
def grade(course, score):
    if course == 'english' and score >= 70:
        return "passed"
    elif course == 'data science' and score >= 80:
        return "passed"
    else:
        return "faled"

In [ ]:
grade("data science", 81)

'passed'

In [ ]:
#for loop
#if score >= 80, passed
def grading_all(scores):
    new_scores = []
    for score in scores:
        new_scores.append(score+2)
    return new_scores

In [ ]:
grading_all([75, 88, 90, 95, 52])

[77, 90, 92, 97, 54]

In [ ]:
#list comprehension
scores = [75, 88, 90, 95, 52]

In [ ]:
[s*2 for s in scores]

[150, 176, 180, 190, 104]

In [7]:
friends = ["toy","ink","tita","wan"]
[f.title() for f in friends]

['Toy', 'Ink', 'Tita', 'Wan']

In [ ]:
#while loop
count = 0
while count < 5:
    print("hello")
    count += 1

hello
hello
hello
hello
hello

In [ ]:
#chatbot for fruit order
user_name = input("What is your name? ")

What is your name? Tita

In [ ]:
user_name

'Tita'

In [ ]:
def chatbot():
    fruits = []
    while True:
        fruit = input("What fruit do you want to order? ")
        if fruit == "exit":
            return fruits
        fruits.append(fruit)

In [ ]:
chatbot()

What fruit do you want to order? Milo
What fruit do you want to order? Banana
What fruit do you want to order? Orange
What fruit do you want to order? Cok
What fruit do you want to order? exit

['Milo', 'Banana', 'Orange', 'Cok']

In [ ]:
54##hw01 - chatbot to order pizza
##hw02 - pao ying choop
##hw03 - OP

In [ ]:
#OOP - Object Oriented Programing
#Dog Class

In [ ]:
class Dog:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed

In [ ]:
dog1 = Dog("longong", 17, "poodle")
dog2 = Dog("apple", 14, "maltis")
dog3 = Dog("lychee", 12, "shizu")

In [ ]:
print(dog1.name, dog1.age, dog1.breed)
print(dog2.name, dog2.age, dog2.breed)

longong 17 poodle
apple 14 maltis

In [ ]:
dog4 = Dog("Noinar", 2, "bulldog")

In [ ]:
class Employee:
    def __init__(self, id, name, dept, pos):
        self.name = id
        self.name = name
        self.dept = dept
        self.pos = pos #position

    def hello(self):
        print(f"Hello! My name is {self.name}")

    def work_hours(self, hours):
        print(f"{self.name} works for {hours} hours")

    def change_dept(self, new_dept):
        self.dept = new_dept
        print(f"{self.name} is now in {self.dept}.")

In [ ]:
emp1 = Employee(1, "John", "Finance", "Financial Analyst")

In [ ]:
print(emp1.name, emp1.pos)

John Financial Analyst

In [ ]:
emp1.hello()

Hello! My name is John

In [ ]:
emp1.dept

'Finance'

In [ ]:
emp1.change_dept("Data Science")

John is now in Data Science.

In [ ]:
#object: attribute => name, id, dept, pos
##object: methos => hello(), change_dept()

In [ ]:
##HW 03 - create new ATM class
class ATM:
    def __init__(self, name, bank, balance):
        self.name = name
        self.bank = bank
        self.balance = balance
    def deposit(self, amt):
        self.balance += amt

scb = ATM( "tita", "scb", 500)
print(scb.balance)

500